/* Varibles */
:root {
  --main-white-color: #fff;
  --main-black-color: #000;
  --main-header-bg: linear-gradient(63.56deg, #6B50FF 48.13%, #A145FF 100%);
  --main-hero-btn-bg: #FF007A;
  ---main-slick-text-color: #211F25;
  --main-slick-heading-color: #3D3A41;
  --main-article-bg-color: #6B50FF;
  --main-slick-bg-color: #F7F5FF;
  --main-bg-color: #F4FBFF;
  --main-link-hover-color: #ffffff80;
  --main-mbile-bg: #7E35EB;
}

.dark-mode :root {
  --main-white-color: #fff;
  --main-black-color: #000;
  --main-header-bg: #1D1827;
  --main-hero-btn-bg: #FF94C7;
  ---main-slick-text-color: #211F25;
  --main-slick-heading-color: #3D3A41;
  --main-article-bg-color: #6B50FF;
  --main-slick-bg-color: #F7F5FF;
  --main-bg-color: #F4FBFF;
  --main-link-hover-color: #ffffff80;
  --main-mbile-bg: #7E35EB;
}

/* MIXINS */ /* nunito-300 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/nunito-v25-latin-300.woff2") format("woff2"), url("../fonts/nunito-v25-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/nunito-v25-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v25-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-500 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/nunito-v25-latin-500.woff2") format("woff2"), url("../fonts/nunito-v25-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/nunito-v25-latin-600.woff2") format("woff2"), url("../fonts/nunito-v25-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/nunito-v25-latin-700.woff2") format("woff2"), url("../fonts/nunito-v25-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/nunito-v25-latin-800.woff2") format("woff2"), url("../fonts/nunito-v25-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1420px !important;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-bg-img {
  background: url("../images/header-bg.svg"), var(--main-header-bg);
}

.nav-open {
  display: none;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--main-mbile-bg);
}

.nav-list {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  padding-top: 20px;
}

.nav-btn {
  text-align: center;
  padding: 10px 27px 10px 26px;
  color: var(--main-hero-btn-bg);
}

.site-logo {
  z-index: 1000;
}

.nav-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.nav-link:hover {
  opacity: 0.5;
}

.header-burger {
  background-image: url("../images/menu-open.svg");
  z-index: 10000;
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
}

.header-open .nav-open {
  display: block;
}

.header-open .dark-mode-btn {
  display: none;
}

html .scroll {
  overflow: hidden;
}

.header-open .header-burger {
  background-image: url("../images/menu-close.svg");
}

.dark-btn {
  margin-left: 30px;
}

@media only screen and (min-width: 575px) {
  .nav-open {
    display: block;
    position: static;
    top: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: auto;
    background: transparent;
  }
  .nav-list {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-item {
    padding-top: 0;
    margin-left: 40px;
  }
  .nav-link {
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 0.01em;
  }
}
.hero-title {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--main-white-color);
}

.hero-text {
  font-family: "Nunito";
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--main-white-color);
}

.watch-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 10px;
  max-width: 342px;
  width: 100%;
  height: 60px;
  border-radius: 32px;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}
.watch-video::after {
  content: "";
  background-image: url("../images/watch-btn.svg");
  width: 36px;
  margin-left: 16px;
  height: 36px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.get-starter {
  border: none;
  background-color: var(--main-hero-btn-bg);
  border-color: var(--main-hero-btn-bg);
  max-width: 342px;
  width: 100%;
  height: 60px;
  border-radius: 32px;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  margin-bottom: 80px;
}

.hero-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .hero-title-box {
    margin: 0 auto;
    width: 737px;
  }
  .hero-title {
    margin-top: 157px;
    font-family: "Nunito";
    font-weight: 800;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }
  .hero-text-box {
    margin: 0 auto;
    width: 471px;
  }
  .hero-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.01em;
  }
}
.software {
  padding-top: 80px;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.software-item {
  padding: 20px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.software-item:hover {
  cursor: pointer;
  background-color: var(--main-slick-bg-color);
}

.software-item:nth-child(1) {
  margin: 0 auto;
  margin-top: 30px;
}
.software-item:nth-child(1)::before {
  content: "";
  background-image: url("../images/sowfware-bg-one.svg");
  display: inline-block;
  max-width: 343px;
  width: 100%;
  height: 266px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.software-item:nth-child(2) {
  margin: 0 auto;
}
.software-item:nth-child(2)::before {
  content: "";
  background-image: url("../images/software-bg-two.svg");
  display: inline-block;
  max-width: 343px;
  width: 100%;
  height: 278px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.software-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-black-color);
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.software-btn:hover {
  color: var(--main-hero-btn-bg);
}

.software-item:nth-child(3) {
  margin: 0 auto;
}
.software-item:nth-child(3)::before {
  content: "";
  background-image: url("../images/software-bg-three.svg");
  display: inline-block;
  max-width: 343px;
  width: 100%;
  height: 288px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.software-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(---main-slick-text-color);
}

.software-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: var(--main-slick-heading-color);
  text-align: center;
  margin-top: 10px;
}

.software-item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(---main-slick-text-color);
}

.software-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .software-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .software-item-box {
    width: 357px;
  }
}
@media only screen and (min-width: 1024px) {
  .software-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .software-item-box {
    width: 357px;
  }
}
@media only screen and (min-width: 1220px) {
  .software-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.protection-title {
  margin-top: 50px;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-slick-title-color);
}

.protection-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-slick-text-color);
}

.protection-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-hero-btn-bg);
  border-radius: 32px;
  text-decoration: none;
  width: 187px;
  height: 60px;
  border: 1px solid var(--main-hero-btn-bg);
  margin-top: 40px;
}

.card-texts {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
}

.pricing-item::before {
  content: "";
  display: inline-block;
  background-image: url("../images/check.svg");
  width: 17px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-body {
  padding: 31px;
}

.card {
  border-color: transparent;
}

.card:hover {
  border-color: #FF007A;
}

.btn {
  border: 1px solid #FF007A;
  color: #FF007A;
}

.btn:hover {
  background: #FF007A !important;
  color: white !important;
}

.pricing {
  padding: 100px 0;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 100% !important;
  }
  .pricing-card-wrapper {
    width: 100%;
    display: block !important;
    text-align: center;
  }
}
.carusel-title {
  margin-bottom: 16px !important;
  font-size: 36px;
  line-height: 36px;
  color: var(---main-slick-text-color);
}

.carusel-text {
  margin-bottom: 30px !important;
  line-height: 22px;
  color: var(--main-slick-heading-color);
}

.carusel-item {
  width: 100%;
  max-width: 406px;
  padding: 30.73px;
  background-color: var(--main-slick-bg-color);
  border-radius: 8px;
}
.carusel-item:not(:last-child) {
  margin-right: 32px;
}
.carusel-item::before {
  display: block;
  width: 112px;
  height: 18px;
  margin-bottom: 30.73px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.carusel-item-text {
  margin-bottom: 30px;
  color: var(---main-slick-text-color);
}

.carusel-name::before {
  display: block;
  width: 54px;
  height: 54px;
  margin-right: 15px;
  background-image: url("../images/brooklyn.png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .carusel-name::before {
    background-image: url("../images/brooklyn@2x.png");
  }
}
.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 54px;
  height: 54px;
  border: 1px solid var(--main-hero-btn-bg);
  border-radius: 48px;
  background-color: transparent;
  cursor: pointer;
}
.slick-arrow img {
  width: 15px;
  height: 15px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -90px !important;
  list-style-type: none;
}
.slick-dots li {
  margin: 50px 10px;
}
.slick-dots button {
  display: block;
  width: 7.68px !important;
  height: 7.68px !important;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--main-bg-color) !important;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.slick-dots button::before {
  color: transparent !important;
}
.slick-dots button:hover {
  background-color: var(--main-hero-btn-bg) !important;
}
.slick-dots li.slick-active button {
  background-color: var(--main-hero-btn-bg) !important;
}

.carusel {
  margin-top: 60px;
}

.carusel-item {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .carusel-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 1024px) {
  .carusel-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.article {
  background-color: var(--main-article-bg-color);
  color: var(--main-white-color);
  padding-top: 112px;
  padding-bottom: 60px;
}

.int {
  border-radius: 32px;
  width: 365px;
  padding: 16px 28px;
  height: 48px;
  margin-right: 16px;
}

.article-tite {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.article-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 44px;
}

.article-btn {
  padding: 16px 28px;
  width: 132px;
  height: 56px;
  background: var(--main-hero-btn-bg);
  border-radius: 32px;
}

.form-bottom {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media only screen and (max-width: 550px) {
  .article-tite {
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
  }
  .article-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
  }
  .int {
    padding: 16px 28px;
    max-width: 242px;
    width: 100%;
    height: 48px;
  }
  .article-btn {
    padding: 16px 8px;
    width: 91px;
    height: 48px;
  }
  .form-bottom {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */