.hero-bg-img {
  background: url("../images/header-bg.svg"), var(--main-header-bg);
}

.nav-open {
  display: none;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: var(--main-mbile-bg);
}

.nav-list {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  padding-top: 20px;
}

.nav-btn {
  text-align: center;
  padding: 10px 27px 10px 26px;
  color: var(--main-hero-btn-bg);
}

.site-logo {
  z-index: 1000;
}

.nav-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.nav-link:hover {
  opacity: 0.5;
}

.header-burger {
  background-image: url("../images/menu-open.svg");
  z-index: 10000;
  background-repeat: no-repeat;
  background-size: contain;
  width: 26px;
  height: 26px;
}

.header-open .nav-open {
  display: block;
}

.header-open .dark-mode-btn {
  display: none;
}

html .scroll {
  overflow: hidden;
}

.header-open .header-burger {
  background-image: url("../images/menu-close.svg");
}

.dark-btn {
  margin-left: 30px;
}

@include mobile-first(575px) {

  .nav-open {
    display: block;
    position: static;
    top: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: auto;
    background: transparent;
  }

  .nav-list {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-item {
    padding-top: 0;
    margin-left: 40px;
  }

  .nav-link {
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 0.01em;
  }

}