.hero-bg-img {
  background: url("../images/header-bg.svg"), var(--main-header-bg);
  background-position: calc(50% + 0px), calc(50% + 0px), calc(50% + 00px), calc(50% + 0px);
}

.header-wrapper {
  padding: 20px 0;
}

.header__logo {
  z-index: 1000;
}

.scroll {
  overflow: hidden;
}

.theme-btn-mobile,
.theme-btn-desktop {
  z-index: 10000;
  background-image: url("../images/theme-btn.svg");
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
}

.theme-btn-desktop {
  display: none;
}

.nav {
  display: none;
}

.header__btn {
  z-index: 100000;
  display: block;
  background-image: url("../images/menu-open.svg");
  width: 26px;
  height: 21px;
  border: none;
  background-color: transparent;
}

.show-bg .nav {
  display: block;
}

.nav__list {
  @include list-unstyle;
  margin-top: 100px;
  text-align: center;
}

.nav__item {
  margin-bottom: 40px;
}

.nav_link {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  transition: 0.2s;

  &:hover {
    color: var(--main-white-color);
    opacity: 0.5;
    border-bottom: 1px solid var(--main-link-hover-color);
  }

}

.nav {
  background-color: var(--main-mbile-bg);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.show-bg .header__btn {
  background-image: url("../images/menu-close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 26px;
  height: 22px;
}

@include mobile-first(768px) {

  .header__logo {
    margin-right: auto;
    z-index: 10000000;
  }

  .theme-btn-mobile {
    display: none;
  }

  .navbar-desk {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    position: static;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav__list {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    margin: 0;
    margin-right: 40px;
  }

  .theme-btn-desktop {
    margin-left: -10px;
    display: block;
  }

  .header__btn {
    display: none;
  }

}

@include mobile-first(1024px) {}