.protection-title {
  margin-top: 50px;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-slick-title-color);
}

.protection-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-slick-text-color);
}

.protection-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-hero-btn-bg);
  border-radius: 32px;
  text-decoration: none;
  width: 187px;
  height: 60px;
  border: 1px solid var(--main-hero-btn-bg);
  margin-top: 40px;
}