.carusel-title {
  margin-bottom: 16px !important;
  font-size: 36px;
  line-height: 36px;
  color: var(---main-slick-text-color);
  ;
}

.carusel-text {
  margin-bottom: 30px !important;
  line-height: 22px;
  color: var(--main-slick-heading-color);
}

.carusel-item {
  width: 100%;
  max-width: 406px;
  padding: 30.73px;
  background-color: var(--main-slick-bg-color);
  border-radius: 8px;

  &:not(:last-child) {
    margin-right: 32px;
  }

  &::before {
    display: block;
    width: 112px;
    height: 18px;
    margin-bottom: 30.73px;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }
}

.carusel-item-text {
  margin-bottom: 30px;
  color: var(---main-slick-text-color);
}

.carusel-name {
  &::before {
    display: block;
    width: 54px;
    height: 54px;
    margin-right: 15px;
    background-image: url("../images/brooklyn.png");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .carusel-name {
    &::before {
      background-image: url("../images/brooklyn@2x.png");
    }
  }

}

.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border: 1px solid var(--main-hero-btn-bg);
  border-radius: 48px;
  background-color: transparent;
  cursor: pointer;

  img {
    width: 15px;
    height: 15px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  bottom: -90px !important;
  list-style-type: none;

  li {
    margin: 50px 10px;
  }

  button {
    display: block;
    width: 7.68px !important;
    height: 7.68px !important;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--main-bg-color) !important;
    transition: background-color 0.3s ease;

    &::before {
      color: transparent !important;
    }

    &:hover {
      background-color: var(--main-hero-btn-bg) !important;
    }
  }

  li.slick-active button {
    background-color: var(--main-hero-btn-bg) !important;
  }

}

.carusel {
  margin-top: 60px;
}

.carusel-item {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {

  .carusel-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

  }
}

@media only screen and (min-width: 1024px) {
  .carusel-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}